body{font-family:Helvetica;padding:0;margin:0}
img{display:block;margin:5px;padding:3px}
li{line-height:1.75em;margin-top:.5em;max-width:600px}
p{line-height:1.75em;max-width:600px}
tt{display:block;margin:10px;font-weight:bold}
h1,h2,h3,h4,h5,h6,b{color:brown}
h1{width:auto;margin:30px -15px 10px}
h2{margin-bottom:0px}
h3{margin:0;font-size:0.8em;font-weight:normal;}
h4{margin:0;font-size:1.1em;font-weight:bold;}
h5{margin:0;font-size:1em;font-weight:bold;}
h6{font-size:0.95em;margin:10px 0 -15px 0}
h4{margin-top:40px}
.emp{color:#000;background:#cec}
.copy{color:#aaa;font-size:0.9em;display:block;text-align:center}
a img{float:left;margin-left:-35px}
.break{display:block;margin:3em 0 1em 0;margin-left:220px}
.section{margin-left:45px;display:none}
.section.sel{display:block}
span{display:block;margin:10px 0}
table{border-spacing:1}
table{background:tan}
th,td{background:white;padding:3px 6px}
th{background:tan}
#processing span{width:200px}
span input, span textarea{display:block;font-size:1.1em;width:190px;margin-bottom:1em}
#header{background:brown;font-size:2em;display:block;margin:0;height:3em;margin-top:0.15em;padding-left:0.25em}
#header a{display:inline-block;padding:1em;color:#fff;text-decoration:none;margin-top:-0.05em}
a.sel{background:maroon}
i{font-size:0.75em;font-style:normal;color:#555}
td a{color:blue;text-decoration:underline;cursor:pointer}
#results{margin-top:1.25em}
